<h2>按讚der 的人：</h2>
<% @message.likes.each do |a| %>
<h3> <%= a.user.email%><%end%> </h3>

<h2>訂閱der 的人：</h2>
<% @message.subscriptions.each do |a| %>
<h3><%= a.user.email%><%end%></h3>


<h3><%= @message.title %></h3>

<%= simple_format @message.content %>

<h2>Comments list</h2>

<%= form_for [@message, @comment] do |f| %>

  <p>
    <%= f.label :content %>
    <%= f.text_area :content, :required => true %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>

<div id="comment">
  <%= render "comments/comment" %>
</div>
