<!DOCTYPE html>
<html>
<head>
  <title>HelpExercise</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1><%= link_to "Help Exercise", root_path %></h1>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<!-- login panels -->
<%= render partial: 'partials/login_panel' %>

<%= yield %>

</body>
</html>
